In [1]:
print('Hello')

Hello

In [2]:
a = 'hello'
print(a)

hello

In [4]:
a =9
c=8.5
b='abc'
print(a+c)
print(a,b,c)

17.5
9 abc 8.5

In [7]:
print('abcc\n'*10)

abcc
abcc
abcc
abcc
abcc
abcc
abcc
abcc
abcc
abcc

In [14]:
print(2*10)
print(type(4e7))
print(type(4))
print(type(5.2))
print(type('jl'))
type(2+3j)

20
<class 'float'>
<class 'int'>
<class 'float'>
<class 'str'>

complex

In [18]:
a=5
b=-2
print(a//b) #floor division

-3

In [19]:
print(a>b)

True

In [20]:
b

-2

In [36]:
c='hello'
v='world'
w ="hello"
print(c==w)
f = 'abc'
d = 'cba'
k = f+d
l = 'abccba'
print(l[4])
print(k==l)
print(len(l))

True
b
True
6

logical - and or not

In [33]:
l = 'M'
s = "Ml"
f = "lo"
print(l in s,l in f)

True False

In [43]:
w = 'oppljggthiict'
print(w[:6:-2])

tih

In [47]:
a =9
b=8
print(f'hello {a} and hello {b}')

hello 9 and hello 8

In [48]:
print(w[:4] + 'vbn' + f)

opplvbnabc

In [50]:
w.replace('i','n')

'oppljggthnnct'

In [52]:
w.count('gt')

1

In [68]:
gt = 'la'
p ='lalalala aaalla lohpfdtu'

In [65]:
p.count(gt)

5

In [67]:
p.replace(' ','')

'lalalalaaaallalohpfdtu'

In [70]:
p.partition('la')

('', 'la', 'lalala aaalla lohpfdtu')

In [71]:
p.rsplit()

['lalalala', 'aaalla', 'lohpfdtu']

In [78]:
a = ['foo','bar',4.5,6,True,[4,4.5,6]]
print(a[5][2])

6

In [79]:
a.rsplit()

AttributeError: 'list' object has no attribute 'rsplit'

In [80]:
a[1:3]

['bar', 4.5]

In [81]:
a*5

['foo',
 'bar',
 4.5,
 6,
 True,
 [4, 4.5, 6],
 'foo',
 'bar',
 4.5,
 6,
 True,
 [4, 4.5, 6],
 'foo',
 'bar',
 4.5,
 6,
 True,
 [4, 4.5, 6],
 'foo',
 'bar',
 4.5,
 6,
 True,
 [4, 4.5, 6],
 'foo',
 'bar',
 4.5,
 6,
 True,
 [4, 4.5, 6]]

In [84]:
b = [ 1,2,3,4]
b*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [95]:
l = ['foo','bar','lola','jsff','kddl','dlsps']

In [87]:
l[1:3]=''

In [ ]:
del l[4]

In [91]:
l

['foo', 'bar', 'lola', 'jsff', 'dlsps']

In [96]:
k=['jhlgl','ddls','ddpe']

In [94]:
l+k

['foo', 'bar', 'lola', 'jsff', 'kddl', 'dlsps', 'jhlgl', 'ddls', 'ddpe']

In [97]:
l.append(k)

In [103]:
l

['foo', 'bar', 'lola', 'jsff', 'oooo', 'kddl', 'dlsps']

In [99]:
l.insert(4,'oooo')

In [102]:
l.remove(k)

In [104]:
tp =('foo', 'bar', 'lola', 'jsff', 'kddl', 'dlsps')

In [105]:
tp

('foo', 'bar', 'lola', 'jsff', 'kddl', 'dlsps')

In [106]:
tp.insert(2,'lk')

AttributeError: 'tuple' object has no attribute 'insert'

In [108]:
tp[1]='l'

TypeError: 'tuple' object does not support item assignment

In [110]:
tp[::-1]

('dlsps', 'kddl', 'jsff', 'lola', 'bar', 'foo')

In [111]:
t1,t2,t3,t4,t5,t6 = tp     #unpacking

In [112]:
print(t1,t2,t3,t4,t5,t6)

foo bar lola jsff kddl dlsps

In [113]:
a=10
b=20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [119]:
student = {
    'deepika':2,
    'monika':13,
    'jivansha':18,
    'kiran':26,
    'mansi':32
}

In [127]:
student['kiran'] = 54
student['deepika2'] = 4
student['new_dict'] = { 'st1':45, 'st2': 50}

In [128]:
student

{'deepika': 2,
 'monika': 13,
 'jivansha': 18,
 'kiran': 54,
 'mansi': 32,
 'deepika2': 4,
 'new_dict': {'st1': 45, 'st2': 50}}

In [129]:
student['new_dict']['st1']

45

In [130]:
'deepika' in student

True

In [135]:
student.items()

dict_items([('deepika', 2), ('monika', 13), ('jivansha', 18), ('kiran', 54), ('mansi', 7), ('deepika2', 4), ('new_dict', {'st1': 45, 'st2': 50}), ('dict1', 40), ('dict2', 65)])

In [134]:
student2 = {
    'dict1': 40,
    'dict2': 65,
    'mansi':7
}
student.update(student2)

In [138]:
a=50
b=8
if (a<b):
    print('hakuna matata....')
else:
    print('deepika loves barbie...')

deepika loves barbie...

In [140]:
a=1
while a<=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [144]:
a = [1,3,'ulala',5,6,7,8,9,10]
for i in a:
    print(i)

1
3
ulala
5
6
7
8
9
10

In [147]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [151]:
a = int(input('enter'))
b = int(input('enter'))
c= a+b
print(c)

enter5
enter6
11